img {
    height: 200px;
    width: 200px;
}

img {

    border-width: 2px;
    border-style: solid;
    border-color: #66ff33;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {background-color: #FDE0B4}

.melon-div {
    display: inline-block;
    padding: 10px;
    width: 205px;
}

h1 {
    color: #ff0000
    font-family: sans-serif
}

h2 {
    color: #ff0000
    font-family: sans-serif
}

h3 {
    color: #ff0000
    font-family: sans-serif
}

h4 {
    color: #ff0000
    font-family: sans-serif
}

h5 {
    color: #ff0000
    font-family: sans-serif
}

h6 {
    color: #ff0000
    font-family: sans-serif
}