img {
    height: 200px;
    width: 200px;
}

.melonimg {

    border-width: 2px;
    border-style: solid;
    border-color: #66ff33;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.body {
    background-color: #FDE0B4
}

.melon-div {
    display: inline-block;
    padding: 10px;
    width: 205px;
}

.heading {
    color: #ff0000
    font-family: sans-serif
}
