
<!DOCTYPE html>
<html>
<head>
{% block head %}
    <link href="static/styles.css" type="text/css" rel="stylesheet">
{% endblock %}
</head>


<body class="body">
{% block topnav %}
     <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/thank-you?person=Good Looking">Thank You</a>
      <a href="/top-melons?person=Good Looking">Top Melons</a>
    </div>
{% endblock %}

    <h1>{% block title %}{% endblock %}</h1>
    <div class="content">
      {% block content %}
    
    {% endblock %}
</div>
</body>
</html>
