

<html>

<head>
    <link href="./styles.css" type="text/css" rel="stylesheet">
    <h1>UberMelon's Most Loved Melons.</h1>
    <style>
    h1 {
    color: #ff0000
    font-family: Arial
}

h2 {
    color: #ff0000
    font-family: sans-serif
}

h3 {
    color: #ff0000
    font-family: sans-serif
}

h4 {
    color: #ff0000
    font-family: sans-serif
}

h5 {
    color: #ff0000
    font-family: sans-serif
}

h6 {
    color: #ff0000
    font-family: sans-serif
}
    </style>
</head>

<body>

<div>
    <div>

        <img class="melonimg center" src="/static/melon1.png" alt="cantaloupe">

        <h1 class="heading">Please fill in your name</h1>
        </form>

            What's your name?            
                <input type="text" "text" = session["person"] required>
            <br>
        <form method="post" action="/get-name.html">
        <button type="submit">Continue</button>
        </form>

    </div>
</div>

<footer>
    <p>Copyright Marijane at UberMelon 2018. All rights reserved.</p>
</footer>

</body>
</html>