{% extends "base.html" %}
{% block head %}
{{ super() }}}
<head>
    
</head>
{%  endblock %}

<body class="body">
    <h1>UberMelon's Most Loved Melons.</h1>
    <div>
    <div>
        <img class="melonimg center" src="/static/melon1.png" alt="cantaloupe">

        <h1 class="heading">Please fill in your name</h1>
        <form action="/top-melons">

     What's your name?
     <input type="text" name="person"><br>
            <br>
        <form method="post" action="/top-melons">
        <button type="submit">Continue</button>
        </form>

    </div>
</div>
{% block footer%}
{{ super() }}
<footer>
    <p>Copyright Marijane at UberMelon 2018. All rights reserved.</p>
</footer>
{% endblock %}
</body>
</html>