<!DOCTYPE html>
<head>
    <link href="./styles.css" type="text/css" rel="stylesheet">

</head>
<html>
<body class="body">
    <img class="melonimg center" src="/static/melon1.png" alt="cantaloupe">

    <h1 class="heading">Ready to LOVE your favorite Melon?</h1>
 <form>
    <br>
    Pick a melon:
    <select name="melontype">
        <option value="Crenshaw">Crenshaw</option>
        <option value="Jubilee Watermelon">Jubilee Watermelon</option>
        <option value="Sugarbaby Watermelon">Sugarbaby Watermelon</option>
        <option value="Texas Golden Watermelon">Texas Golden Watermelon</option>
    </select>
            <br>
        </form>
    <img class="melonimg center" src="http://www.rareseeds.com/assets/1/14/DimThumbnail/Sugar-Baby-Watermelon-web.jpg" alt="cantaloupe">
</body>
</html>















