{% extends "base.html" %}
{% block head %}
{{ super() }}}
<head>
    
</head>
{%  endblock %}
<html>
<body class="body">
    <img class="melonimg center" src="/static/melon1.png" alt="cantaloupe">

    <h1 class="heading">Ready to LOVE your favorite Melon?</h1>
    <form>
    <br>
    Pick a melon:
    <select name="melontype">
        <option value="Crenshaw">Crenshaw</option>
        <option value="Jubilee Watermelon">Jubilee Watermelon</option>
        <option value="Sugarbaby Watermelon">Sugarbaby Watermelon</option>
        <option value="Texas Golden Watermelon">Texas Golden Watermelon</option>
    </select>
    <br>
    </form>
    <button type="submit">LOVE that Good Melon</button>
</body>
{% block footer%}
{{ super() }}

{% endblock %}
</html>















