<!DOCTYPE html>
<head>
    <link href="./styles.css" type="text/css" rel="stylesheet">
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="/thank-you">Thank You</a>
    </div>
</head>
<html>
<body class="body">
    <img class="melonimg center" src="/static/melon1.png" alt="cantaloupe">

    <h1 class="heading">Ready to LOVE your favorite Melon?</h1>
    <form>
    <br>
    Pick a melon:
    <select name="melontype">
        <option value="Crenshaw">Crenshaw</option>
        <option value="Jubilee Watermelon">Jubilee Watermelon</option>
        <option value="Sugarbaby Watermelon">Sugarbaby Watermelon</option>
        <option value="Texas Golden Watermelon">Texas Golden Watermelon</option>
    </select>
    <br>
    </form>
    <button type="submit">LOVE that Good Melon</button>
</body>
<footer>
    <p>Copyright Marijane at UberMelon 2018. All rights reserved.</p>
</footer>
</html>















