
<!-- 
Extending base.html kept throwing errors even when commented out 
so I had to delete them. Sorry. 
 -->
<!DOCTYPE html>
<head>
    <link href="./styles.css" type="text/css" rel="stylesheet">
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="/top-melons">Top Melons</a>
      <a href="/thank-you">Thank You</a>
    </div>
</head>
<body background-color: #FF7F50; class="body">
    <h1 class="heading">Welcome {{ person }}!</h1>
<!-- Create a div for every Most Loved Melon using a Jinja for loop -->

<!-- This for loop kept throwing errors in the debugger, so I commented it out. It continued to throw errors so I had to delete it :( -->

{% for key, value in DICT.items() %}
    <div>
        <h3 color: #DC143C;
            font-family: sans-serif;
            class="heading">{{ person }}, this is {{ DICT[key]["name"] }}</h3>
        <h2
            color: #DC143C;
            font-family: sans-serif;>Loved {{ DICT[key]["num_loves"] }} times.
        </h2>
        <img     
            border-width: 2px;
            border-style: solid;
            border-color: #008000;
            height: 200px;
            width: 200px;
            class="melonimg img" src={{ DICT[key]["img"] }}>
{% endfor %}
        <h2 color: #DC143C;
            font-family: sans-serif;
            class="heading">Just one word... </h2>
{% for flavor in flavors %}
        <h2 color: #DC143C;
            font-family: sans-serif;
            class="heading">{{ flavor }}</h2>
        <br>
    </div>
{% endfor %}
    <h2 color: #DC143C;
            font-family: sans-serif;
            class="heading">{{ flavors }}</h2>

<!-- This used to be the end of the jinja for loop
 -->
    <form method="post" action="/thank-you">
        <button type="submit">Continue</button>
        <br>
        <br>

</body>
</html>


