{ extends "base.html" %}
{% block content %}


{% for key in MOST_LOVED_MELONS %}
   {% for key, value in MOST_LOVED_MELONS.items() %}
      <h1>Key: {{  }}</h1>
      <h2>Value: {{ value }}</h2>
   {% endfor %}
{% endfor %}

<h1 class="heading">Top Melons</h1>
    <div >
        <div>
            <img class="melonimg" src="{{ melon_img }}">
        </div>
        <div>
        <div>
            <h3 class="heading"></h3>
            <p> Details on your most loved melons. </p>
            </div>
        </div>
    </div>
    <div class="melon-details">

        <h3>Product details</h3>
        <ul>
            <li>Melon name: {{ melon_name }}</li>
            <li>How many times folks have 'LOVED' this melon? {{ melon_loved }}</li>
            
        </ul>
    </div>

{% endblock %}
