
{% extends from base.html %}
{% block head %}

{% endblock %}
<body class="body">
    <h1 class="heading">Welcome {{ person }}!</h1>
<!-- Create a div for every Most Loved Melon using a Jinja for loop -->

{% for key, value in _dict.iteritems() %}
    <div>
        <h3 class="heading">{{ person }}, this is {{ melon_name }}</h3>
        <h2>Loved {{ melon_loved }} times.
        </h2>
        <img src='http://www.rareseeds.com/assets/1/14/DimThumbnail/Texas-Golden-2-Watermelon-web.jpg'>
    </div>
{% endfor %}

    <form method="post" action="/top-melons.html">
        <button type="submit">Continue</button>
</body>
</html>


